@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Outfit;
}
select,input,textarea,#select{
    border: 1px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 4px;
}
.active{
    background-color: #ffebf5;
    border-color: #C586A5;
}